<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="mobi.pdf417.Pdf417Scanner"
    version="1.0.7">

    <name>Pdf417Scanner</name>
    <description>A small and powerful PDF417 scanning library</description>
    <license>MIT</license>
    <keywords>pdf417,barcode,usdl,qr code,2d barcode,1d barcode</keywords>
    <author>MicroBlink Team info@microblink.com</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>    

    <js-module src="www/pdf417scanner.js" name="Pdf417Scanner">
        <clobbers target="cordova.plugins.pdf417Scanner" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Pdf417Scanner">
                <param name="android-package" value="com.phonegap.plugins.pdf417.Pdf417Scanner" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                    android:name="com.microblink.activity.Pdf417ScanActivity"
                    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                    android:configChanges="orientation|screenSize"
                    android:screenOrientation="portrait" >
                    <intent-filter>
                        <action android:name="com.microblink.activity.Pdf417ScanActivity" />
                        <category android:name="android.intent.category.DEFAULT" />
                    </intent-filter>
            </activity>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.FLASHLIGHT" />
            
            <uses-feature android:name="android.hardware.camera" />
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
            <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
            <uses-feature android:glEsVersion="0x00020000" android:required="false" />

            <supports-screens
                android:anyDensity="true"
                android:largeScreens="true"
                android:normalScreens="true"
                android:resizeable="true"
                android:smallScreens="true" />
        </config-file>

        <source-file src="src/android/com/phonegap/plugins/pdf417/Pdf417Scanner.java" target-dir="src/com/phonegap/plugins/pdf417" />
        <source-file src="src/android/com/phonegap/plugins/pdf417/FakeR.java" target-dir="src/com/phonegap/plugins/pdf417" />
        
        <source-file src="src/android/values/pdf417-values.xml" target-dir="res/values" />

        <source-file src="src/android/res/beep_pdf417.mp3" target-dir="res/raw" />
        <source-file src="src/android/res/device_list.json" target-dir="res/raw" />
        
        <source-file src="src/android/layout/default_barcode_camera_overlay.xml" target-dir="res/layout" />
        <source-file src="src/android/layout/camera_splash.xml" target-dir="res/layout" />
        
        <source-file src="src/android/drawable/photopay_button.xml" target-dir="res/drawable" />
        <source-file src="src/android/drawable/rounded_border.xml" target-dir="res/drawable" />
        
        <source-file src="src/android/drawable-hdpi/lightoff.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/drawable-hdpi/lighton.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/drawable-hdpi/title.png" target-dir="res/drawable-hdpi" />

        <source-file src="src/android/drawable-ldpi/lightoff.png" target-dir="res/drawable-ldpi" />
        <source-file src="src/android/drawable-ldpi/lighton.png" target-dir="res/drawable-ldpi" />

        <source-file src="src/android/libs/LibRecognizer.jar" target-dir="libs"/>
        <source-file src="src/android/libs/armeabi/libBlinkBarcode.so" target-dir="libs/armeabi/"/>
        <source-file src="src/android/libs/armeabi-v7a/libBlinkBarcode.so" target-dir="libs/armeabi-v7a/"/>
        <source-file src="src/android/libs/x86/libBlinkBarcode.so" target-dir="libs/x86/"/>

        <hook type="after_prepare" src="scripts/fix-largeheap.js" />
    </platform>

    <platform name="ios">
        <source-file src="src/ios/sources/CDVpdf417.m" />
        <header-file src="src/ios/sources/CDVpdf417.h" />
        
        <framework src="libc++.dylib" />
        <framework src="libz.dylib" />
        <framework src="libiconv.dylib" />

        <framework src="CoreVideo.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="src/ios/MicroBlink.framework" custom="true" />

        <resource-file src="src/ios/resources/torchoff_pressed.png" />
        <resource-file src="src/ios/resources/torchoff_pressed@2x.png" />
        <resource-file src="src/ios/resources/torchoff.png" />
        <resource-file src="src/ios/resources/torchoff@2x.png" />
        <resource-file src="src/ios/resources/torchon_pressed.png" />
        <resource-file src="src/ios/resources/torchon_pressed@2x.png" />
        <resource-file src="src/ios/resources/torchon.png" />
        <resource-file src="src/ios/resources/torchon@2x.png" />
        <resource-file src="src/ios/resources/PPbeep.wav" />
        <resource-file src="src/ios/resources/en.strings" />
        <config-file target="config.xml" parent="/*">
            <feature name="Pdf417Scanner">
                <param name="ios-package" value="CDVpdf417" />
            </feature>
        </config-file>
    </platform>

    <!-- windows phone 8.0 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="Pdf417Scanner">
                <param name="wp-package" value="Pdf417Scanner"/>
            </feature>
        </config-file>

        <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
            <Capability Name="ID_CAP_ISV_CAMERA" />
            <Capability Name="ID_CAP_SENSORS" />
        </config-file>
        <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Requirements">
            <Requirement Name="ID_REQ_REARCAMERA" />
        </config-file>        

        <framework src="Microsoft.Expression.Controls.dll" />
        <framework src="src/wp8/lib/Microblink.winmd" custom="true" arch="ARM" target="phone" />
        <framework src="src/wp8/lib/PDF417.dll" custom="true" arch="ARM" target="phone" />
        
        <source-file src="src/wp8/sources/Pdf417Scanner.cs" />
        <source-file src="src/wp8/sources/Pdf417ScannerPage.xaml" />
        <source-file src="src/wp8/sources/Pdf417ScannerPage.xaml.cs" />

        <asset src="src/wp8/res/Icons/icon_exit.png" target="Icons/icon_exit.png" />
        <asset src="src/wp8/res/Icons/icon_exit_selected.png" target="Icons/icon_exit_selected.png" />
        <asset src="src/wp8/res/Icons/icon_flashlight.png" target="Icons/icon_flashlight.png" />
        <asset src="src/wp8/res/Icons/icon_flashlight_selected.png" target="Icons/icon_flashlight_selected.png" />
        <asset src="src/wp8/res/Sounds/beep_pdf417.mp3" target="Sounds/beep_pdf417.mp3" />

    </platform>
</plugin>
