<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="mobi.pdf417.Pdf417Scanner"
    version="1.0.3">

    <name>Pdf417Scanner</name>
    <description>A small and powerful PDF417 scanning library</description>
    <license>MIT</license>
    <keywords>pdf417,barcode,upc,qr code,2d barcode,1d barcode</keywords>
    <author>PhotoPay Team pdf417@photopay.net</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>    

    <js-module src="www/pdf417scanner.js" name="Pdf417Scanner">
        <clobbers target="cordova.plugins.pdf417Scanner" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Pdf417Scanner">
                <param name="android-package" value="com.phonegap.plugins.pdf417.Pdf417Scanner" />
            </feature>
        </config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
            android:name="com.microblink.activity.Pdf417ScanActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.microblink.activity.Pdf417ScanActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
			</activity>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.FLASHLIGHT" />
            
            <uses-feature android:name="android.hardware.camera" />
			<uses-feature android:name="android.hardware.camera.autofocus" />
			<uses-feature android:name="android.hardware.camera.flash" />
			<uses-feature android:glEsVersion="0x00020000" android:required="false" />
        </config-file>

        <source-file src="src/android/com/phonegap/plugins/pdf417/Pdf417Scanner.java" target-dir="src/com/phonegap/plugins/pdf417" />
        <source-file src="src/android/com/phonegap/plugins/pdf417/FakeR.java" target-dir="src/com/phonegap/plugins/pdf417" />
        
        <source-file src="src/android/values/pdf417-values.xml" target-dir="res/values" />

        <source-file src="src/android/res/beep_pdf417.mp3" target-dir="res/raw" />
        
        <source-file src="src/android/layout/default_barcode_camera_overlay.xml" target-dir="res/layout" />
        <source-file src="src/android/layout/camera_splash.xml" target-dir="res/layout" />
        
        <source-file src="src/android/drawable/photopay_button.xml" target-dir="res/drawable" />
        <source-file src="src/android/drawable/rounded_border.xml" target-dir="res/drawable" />
        
        <source-file src="src/android/drawable-hdpi-v4/lightoff.png" target-dir="res/drawable-hdpi-v4" />
        <source-file src="src/android/drawable-hdpi-v4/lighton.png" target-dir="res/drawable-hdpi-v4" />
        <source-file src="src/android/drawable-hdpi-v4/title.png" target-dir="res/drawable-hdpi-v4" />
        <source-file src="src/android/drawable-ldpi-v4/lightoff.png" target-dir="res/drawable-ldpi-v4" />
        <source-file src="src/android/drawable-ldpi-v4/lighton.png" target-dir="res/drawable-ldpi-v4" />

        <source-file src="src/android/libs/LibRecognizer.jar" target-dir="libs"/>
        <source-file src="src/android/libs/armeabi/libBlinkBarcode.so" target-dir="libs/armeabi/"/>
        <source-file src="src/android/libs/armeabi-v7a/libBlinkBarcode.so" target-dir="libs/armeabi-v7a/"/>
        <source-file src="src/android/libs/x86/libBlinkBarcode.so" target-dir="libs/x86/"/>
    </platform>

    <platform name="ios">
        <source-file src="src/ios/sources/CDVpdf417.m" />
        <header-file src="src/ios/sources/CDVpdf417.h" />
        
        <framework src="libc++.dylib" />
        <framework src="libz.dylib" />
        <framework src="libiconv.dylib" />

        <framework src="CoreVideo.framework" />
        <framework src="OpenGLES.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="AudioToolbox.framework" />
        
        <framework src="src/ios/pdf417.framework" custom="true" />

		<resource-file src="src/ios/resources/light.png" />
		<resource-file src="src/ios/resources/light@2x.png" />
		<resource-file src="src/ios/resources/lighton.png" />
		<resource-file src="src/ios/resources/lighton@2x.png" />
		<resource-file src="src/ios/resources/beep_pdf417.mp3" />
		<resource-file src="src/ios/resources/de.strings" />
		<resource-file src="src/ios/resources/en.strings" />
		<resource-file src="src/ios/resources/hr.strings" />

        <config-file target="config.xml" parent="/*">
            <feature name="Pdf417Scanner">
                <param name="ios-package" value="CDVpdf417" />
            </feature>
        </config-file>
    </platform>
</plugin>
